h1 Zen Quotes - Local Storage

div.alert.alert-danger.alert-dismissible.hidden(role="alert")
  button.close(type="button" data-dismiss="alert" aria-label="Close")
    span(aria-hidden="true") &times;
  | Please enter a quote!

h3 List of Quotes

div
  input.new-quote(type='text' placeholder='Enter a Quote...')
  button.add-quote add
hr

ul.quote-list.list-group
button.clear-all-quotes clear
